/*RESPONSIVE*/
@media(max-width: 1200px) {
    .intro-img{
    	visibility: hidden;
    }
    .intro-contact{
    	visibility: hidden;
    }
}
@media (max-width: 768px) {
	
}
@media (min-width: 414px) and (max-width: 736px) {
	.header-intro .col-sm-2, .header-intro .col-sm-3 {
		display: none;
	}
	.header-top .menu-topbar {
		text-align: inherit;
	}
	.header-top .menu-topbar .area-top {
		visibility: hidden;
	}
}
@media (min-width: 375px) and (max-width: 812px) {
	.header-intro .col-sm-2, .header-intro .col-sm-3 {
		display: none;
	}
	.header-top .menu-topbar .email-top {
		visibility: hidden;
	}
	.header-top .menu-topbar {
		text-align: center;
    	margin-top: -18px;
    	margin-right: 38px;
	}
}