@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.btn {
  cursor: pointer;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: black;
}

.container {
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: "BazarMedium";
  text-transform: uppercase;
}

input, textarea {
  font-family: "Roboto Slab", sans-serif;
}

button {
  cursor: pointer;
}

#header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #7ac0c0;
  border-bottom: 2px dotted grey;
}
#header .header-menu {
  width: 100%;
}
#header .header-menu .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-menu .menu ul li a {
  color: #fff;
  font-size: 23px;
}
#header .header-menu .menu ul li .scroll:after {
  display: block;
  content: "";
  margin-bottom: 8px;
  width: 50%;
  height: 2px;
  transition: width 0.3s;
}
#header .header-menu .menu ul li .scroll:hover::after {
  width: 100%;
  background-color: black;
}
#header .header-menu .menu ul li a:hover {
  color: black;
  transition: 1s;
}
#header .header-menu .menu ul .logo {
  width: 149px;
  height: 147px;
  transition: 0.3s;
}
#header .header-menu .menu ul .logo:hover {
  transform: translateY(20px);
}

#myline {
  width: 0%;
  height: 3px;
  background-color: #fff;
}

#main .main-retro {
  padding-top: 195px;
  width: 100%;
  background-color: #7ac0c0;
  border-bottom: 2px dotted grey;
}
#main .main-retro .retro-banner {
  display: grid;
  justify-content: center;
  margin-bottom: 47px;
}
#main .main-retro .retro-banner .banner_text {
  padding-top: 10px;
  height: 60px;
}
#main .main-retro .retro-slide {
  position: relative;
  border-top: 8px solid #fff;
  border-left: 8px solid #fff;
  border-right: 8px solid #fff;
}
#main .main-retro .retro-slide .two, #main .main-retro .retro-slide .three {
  display: none;
}
#main .main-retro .retro-slide .mySlides {
  width: 100%;
  height: 460px;
}
#main .main-retro .retro-slide .mySlides .img_animate {
  width: 100%;
  height: 100%;
}
#main .main-retro .retro-slide .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 8px;
  position: absolute;
  top: 0;
  z-index: 3;
}
#main .main-retro .retro-slide .mySlides .text {
  background-color: #fff;
  color: #383a3c;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
#main .main-retro .retro-slide .prev, #main .main-retro .retro-slide .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  user-select: none;
  top: 40%;
}
#main .main-retro .retro-slide .next {
  right: 0;
}
#main .main-retro .retro-slide .prev:hover, #main .main-retro .retro-slide .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#main .main-retro .retro-dot {
  background-color: #20B2AA;
  width: 90px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}
#main .main-retro .retro-dot .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FFA500;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#main .main-retro .retro-dot .active, #main .main-retro .retro-dot .dot:hover {
  background-color: red;
}
#main .main-retro .retro-text {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  padding-bottom: 40px;
}
#main .main-retro .img_animate {
  /* tạo hiệu ứng chuyển động fade */
  animation-name: img_animate;
  animation-duration: 1.5s;
}
@keyframes img_animate {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
#main .main-about {
  background-color: #e3dfce;
  padding-bottom: 30px;
  border-bottom: 2px dotted grey;
}
#main .main-about .text-center {
  color: #383a3c;
  width: 100%;
  text-align: center;
}
#main .main-about .text-center h2 {
  padding-top: 25px;
  font-size: 90px;
  text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
}
#main .main-about .text-center .about_line {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main-about .text-center .about_line .line {
  width: 70px;
  height: 2px;
  background-color: #383a3c;
}
#main .main-about .text-center .about_line .text {
  padding-left: 15px;
  padding-right: 15px;
}
#main .main-about .text-center h3 {
  font-size: 1rem;
  padding-top: 10px;
}
#main .main-about .about-grid {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#main .main-about .about-grid .grid-column {
  text-align: center;
  line-height: 20px;
  color: #383a3c;
}
#main .main-about .about-grid .grid-column .grid-img {
  width: 150px;
  height: 150px;
  transition: 0.3s;
}
#main .main-about .about-grid .grid-column .grid-img:hover {
  transform: translateY(-10px);
}
#main .main-about .about-grid .grid-column h2 {
  margin: 10px;
}
#main .main-about .about-grid .grid-column .line {
  display: inline-block;
  width: 80px;
  height: 5px;
  background-color: #383a3c;
  margin: 10px;
}
#main .main-about .about-grid .grid-column .text {
  text-align: start;
}
#main .main-portfolio {
  padding-bottom: 30px;
  background-color: #e08766;
  border-bottom: 2px dotted grey;
}
#main .main-portfolio .text-center {
  color: #383a3c;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
#main .main-portfolio .text-center h2 {
  padding-top: 25px;
  font-size: 90px;
  text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
}
#main .main-portfolio .text-center .about_line {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main-portfolio .text-center .about_line .line {
  width: 70px;
  height: 2px;
  background-color: #383a3c;
}
#main .main-portfolio .text-center .about_line .text {
  padding-left: 15px;
  padding-right: 15px;
}
#main .main-portfolio .text-center h3 {
  font-size: 1rem;
  padding-top: 10px;
}
#main .main-portfolio .nav-menu {
  display: flex;
}
#main .main-portfolio .nav-menu .title {
  display: inline-block;
  width: 90px;
  font-size: 18px;
}
#main .main-portfolio .nav-menu .menu-tab li {
  cursor: pointer;
  margin-left: 22px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #FCFAF7;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
}
#main .main-portfolio .nav-menu .menu-tab li a {
  color: #383a3c;
  display: inline-block;
  padding: 2px 8px 0px 0px;
  font-weight: 700;
  font-size: 12px;
}
#main .main-portfolio .nav-menu .menu-tab li:before {
  content: "";
  float: left;
  position: relative;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 10px solid #FCFAF7;
  border-bottom: 10px solid transparent;
}
#main .main-portfolio .nav-menu .menu-tab li.active {
  background-color: aqua;
}
#main .main-portfolio .nav-menu .menu-tab li.active:before {
  border-right: 10px solid aqua;
}
#main .main-portfolio .nav-menu .menu-tab a:before {
  content: "";
  float: left;
  left: -10px;
  top: 5px;
  width: 5px;
  height: 5px;
  background-color: #959CA3;
  position: relative;
  border-radius: 4px;
}
#main .main-portfolio .portfolio-grid {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
#main .main-portfolio .portfolio-grid .tab-grid {
  display: none;
}
#main .main-portfolio .portfolio-grid .active {
  display: block;
}
#main .main-portfolio .portfolio-grid .grid-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
#main .main-portfolio .portfolio-grid .grid-main .grid-column {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border: 5px solid #fff;
}
#main .main-portfolio .portfolio-grid .grid-main .grid-column .img {
  width: 100%;
  height: 190px;
}
#main .main-portfolio .portfolio-grid .grid-main .grid-column .image {
  width: 100%;
  height: 100%;
}
#main .main-portfolio .portfolio-grid .grid-main .grid-column .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  top: -26px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
#main .main-portfolio .portfolio-grid .grid-main .grid-column .icon i {
  font-size: 22px;
  color: #959CA3;
}
#main .main-portfolio .portfolio-grid .grid-main .grid-column a:hover .icon {
  transform: translateY(-10px);
}
#main .main-portfolio .portfolio-grid .grid-main .grid-column .text {
  padding-bottom: 15px;
  color: #383a3c;
  font-weight: bold;
  margin-top: -25px;
}
#main .main-portfolio .portfolio-grid .grid-main {
  /* tạo hiệu ứng chuyển động fade */
  animation-name: grid-main;
  animation-duration: 1s;
}
@keyframes grid-main {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
#main .main-blog {
  background-color: #e3dfce;
  padding-bottom: 30px;
  border-bottom: 2px dotted grey;
}
#main .main-blog .text-center {
  width: 100%;
  text-align: center;
  color: #383a3c;
}
#main .main-blog .text-center h2 {
  padding-top: 25px;
  font-size: 90px;
  text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
}
#main .main-blog .text-center .blog_line {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main-blog .text-center .blog_line .line {
  width: 70px;
  height: 2px;
  background-color: #383a3c;
}
#main .main-blog .text-center .blog_line .text {
  padding-left: 15px;
  padding-right: 15px;
}
#main .main-blog .text-center h3 {
  font-size: 1rem;
  padding-top: 10px;
}
#main .main-blog .blog-center .blog-row {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
#main .main-blog .blog-center .blog-row .blog-image {
  width: 30%;
}
#main .main-blog .blog-center .blog-row .blog-image .bl_image {
  width: 100%;
  border: 4px solid #FCFAF7;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#main .main-blog .blog-center .blog-row .blog-content {
  width: 70%;
  position: relative;
}
#main .main-blog .blog-center .blog-row .blog-content .content-right {
  padding-left: 20px;
  line-height: 20px;
  color: #383a3c;
}
#main .main-blog .blog-center .blog-row .blog-content .content-right h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
#main .main-blog .blog-center .blog-row .blog-content .content-right time, #main .main-blog .blog-center .blog-row .blog-content .content-right span {
  font-weight: 700;
  font-size: 10px;
}
#main .main-blog .blog-center .blog-row .blog-content .content-right .link {
  display: inline-block;
  position: absolute;
  right: 0;
  font-weight: 700;
  font-size: 10px;
  color: #383a3c;
}
#main .main-blog .blog-center .blog-row .blog-content .content-right .line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 2px;
  background-color: #383a3c;
}
#main .main-blog .blog-center .blog-row .blog-content .content-right .post-content a {
  font-size: 14px;
  font-weight: 700;
  color: #383a3c;
}
#main .main-blog .blog-center .blog-row .blog-link a:before {
  margin-left: 20px !important;
}
#main .main-blog .blog-link a:before {
  margin-top: 20px;
  margin-left: 65px;
}
#main .browse-link {
  display: flex;
  justify-content: center;
}
#main .browse-link a {
  font-weight: 700;
  font-size: 14px;
  color: #383a3c;
}
#main .browse-link a:before {
  display: block;
  content: "";
  margin-bottom: 8px;
  margin-left: 46px;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #383a3c;
  transition: width 0.3s;
}
#main .browse-link a:hover::before {
  width: 100%;
}

#footer .main-contact {
  background-color: #4c5057;
  padding-bottom: 30px;
  border-bottom: 2px dotted grey;
}
#footer .main-contact .text-center {
  width: 100%;
  text-align: center;
  color: #FCFAF7;
  margin-bottom: 30px;
}
#footer .main-contact .text-center h2 {
  padding-top: 25px;
  font-size: 90px;
  text-shadow: 1px 2px #383a3c, 3px 4px #FCFAF7;
}
#footer .main-contact .text-center .blog_line {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .main-contact .text-center .blog_line .line {
  width: 70px;
  height: 2px;
  background-color: #FCFAF7;
}
#footer .main-contact .text-center .blog_line .text {
  padding-left: 15px;
  padding-right: 15px;
}
#footer .main-contact .text-center h3 {
  font-size: 1rem;
  padding-top: 10px;
}
#footer .main-contact .form-contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
#footer .main-contact .form-contact input[type=text], #footer .main-contact .form-contact select, #footer .main-contact .form-contact textarea {
  width: 70%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #383a3c;
  font-weight: 400;
  resize: none;
}
#footer .main-contact .form-contact .btn {
  width: 70%;
}
#footer .main-contact .form-contact .btn button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: #383a3c;
  background-color: #FCFAF7;
  font-weight: 700;
}
#footer .footer-text {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
#footer .footer-text h5 {
  font-weight: 700;
  font-size: 24px;
  color: #FCFAF7;
}
#footer .footer-text h5:after {
  display: block;
  content: "";
  margin-top: 8px;
  width: 100%;
  height: 2px;
  background-color: #FCFAF7;
}
#footer .footer-logo ul {
  display: flex;
  justify-content: center;
}
#footer .footer-logo ul li {
  margin-right: 15px;
  transition: 0.3s;
}
#footer .footer-logo ul li:hover {
  transform: translateY(-10px);
}
#footer .footer-logo ul img {
  width: 80px;
}

@media (max-width: 860px) {
  #main .about-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  #main .portfolio-grid .grid-main {
    width: 100%;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  #footer .form-contact input[type=text], #footer .form-contact select, #footer .form-contact textarea, #footer .form-contact .btn {
    width: 100% !important;
  }
}
@media (max-width: 650px) {
  .header-menu .menu {
    display: flex;
    justify-content: center;
  }
  .header-menu .menu ul li {
    display: none;
  }
  .header-menu .menu ul .show {
    display: block;
  }

  .text-center h2 {
    font-size: 14vw !important;
  }

  #main .about-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  #main .portfolio-grid .grid-main {
    width: 100%;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  #main .main-blog .blog-row {
    flex-direction: column !important;
  }
  #main .main-blog .blog-row .blog-image {
    width: 100% !important;
  }
  #main .main-blog .blog-row .blog-content {
    width: 100% !important;
  }
  #main .main-blog .blog-row .blog-content .content-right {
    margin-top: 10px;
    padding: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
