* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.btn {
  cursor: pointer;
}

/* ----------------------------------------------------- */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: black;
}

.container {
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: "BazarMedium";
  text-transform: uppercase;
}

input, textarea {
  font-family: "Roboto Slab", sans-serif;
}

button {
  cursor: pointer;
}

.logo--size {
  height: 130px;
}

.button {
  display: inline-block;
  padding: 10px 70px;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
}
.button__icon {
  padding-left: 5px;
}

.button:hover {
  opacity: 0.7;
  color: black;
}

.button--pink {
  background: rgba(211, 0, 161, 0.88);
}

.button--blue {
  border: 2px solid blue;
  color: blue;
}

.show_menu {
  left: 0 !important;
}

.header {
  width: 100%;
  background-image: url("../images/img_header/header_illust_bg.png");
  background-size: cover;
  margin-bottom: 20px;
}
.header__container {
  position: relative;
  width: 100%;
  background-image: url("../images/img_header/header_top_bg.png");
  background-position: top;
  background-repeat: repeat-x;
}
.header__container .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 20px;
}
.header__bird {
  position: absolute;
  z-index: 5;
  top: 0;
  padding: 30px;
}
.header__bird--size {
  height: 45px;
}
.header__bird--three {
  padding-left: 80px;
}
.header__bird--two {
  padding-left: 50px;
}
.header .nav__menu, .header .nav .nav-toogle, .header .menu-toogle__menu, .header .menu-toogle .nav-toogle {
  display: flex;
  justify-content: space-between;
}
.header .nav__menu li, .header .nav .nav-toogle li, .header .menu-toogle__menu li, .header .menu-toogle .nav-toogle li {
  display: flex;
  align-items: center;
}
.header .nav__menu li a, .header .nav .nav-toogle li a, .header .menu-toogle__menu li a, .header .menu-toogle .nav-toogle li a {
  color: red;
  text-align: center;
  font-weight: 600;
}
.header .nav__menu li a img, .header .nav .nav-toogle li a img, .header .menu-toogle__menu li a img, .header .menu-toogle .nav-toogle li a img {
  height: 50px;
}
.header .nav__menu li a p, .header .nav .nav-toogle li a p, .header .menu-toogle__menu li a p, .header .menu-toogle .nav-toogle li a p {
  padding-top: 10px;
}
.header .nav__menu li:before, .header .nav .nav-toogle li:before, .header .menu-toogle__menu li:before, .header .menu-toogle .nav-toogle li:before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 70%;
  padding-right: 35px;
  border-left: 1px dotted black;
}
.header .menu-toogle {
  display: none;
}
.header .menu-toogle i {
  font-size: 40px;
  color: blue;
}

.main {
  width: 100%;
  background: url("../images/img_content/contents_bg.png");
  background-color: rgba(84, 84, 77, 0.24);
  padding-bottom: 100px;
}
.main__image {
  position: relative;
  width: 100%;
  height: 450px;
}
.main__image .img--center {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.main__image .img--border {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  border-top: 10px solid transparent;
  border-image-source: url("../images/img_header/menu_u_nami.png");
  border-image-repeat: repeat;
  border-image-slice: 40;
}
.main__image .img--bottom {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.main__image .img--main {
  position: absolute;
  z-index: 3;
  height: 80px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__image .img--title {
  position: absolute;
  z-index: 3;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
}
.main__image .title {
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__image .title__center {
  padding: 20px;
  background: rgba(12, 139, 245, 0.72);
  text-align: center;
  color: #fff;
  border-radius: 50px;
}
.main__image .title::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 25px solid rgba(12, 139, 242, 0.5);
  margin-left: 45%;
}
.main__image .cloud__top {
  position: absolute;
  z-index: 3;
  top: -12%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
.main__image .cloud__bottom {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  bottom: -10%;
  width: 100%;
}
.main__image .cloud .cloud--img {
  height: 65px;
}
.main__text {
  margin-top: 70px;
  text-align: center;
}
.main__text .text {
  padding-left: 20%;
  padding-right: 20%;
}
.main__box .column {
  background: #fff;
  margin-top: 70px;
  border-radius: 15px;
}
.main__box .column .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}
.main__box .column .box__col {
  text-align: center;
  list-style: 20px;
}
.main__box .column .box__col--image {
  height: 70px;
}
.main__box .column .box__col--title {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main__box .column .box__border {
  border-right: 1px dotted grey;
}
.main__btn {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
.main__form {
  text-align: center;
  margin-top: 50px;
}
.main__form .box {
  padding-left: 20%;
  padding-right: 20%;
}
.main__form .box__image {
  height: 70px;
}
.main__form .box__title {
  margin: 20px 0 40px 0;
}
.main__form .form {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.main__form .form__box {
  display: inline-block;
  background: blue;
  border-radius: 20px;
  border: 1px solid blue;
  overflow: hidden;
}
.main__form .form__box .box-column {
  display: grid;
  grid-template-columns: 30% 70%;
}
.main__form .form__box .box-column .column {
  padding: 30px;
  border-bottom: 1px dotted grey;
}
.main__form .form__box .box-column .column__link {
  padding: 20px;
  color: #fff;
}
.main__form .form__box .box-column .column-text {
  background: #fff;
}
.main__form .form__box .box-column .column-text input {
  padding: 10px 90px;
  border-radius: 20px;
  outline: none;
  border: none;
  background: rgba(106, 118, 123, 0.24);
}
.main__form .form__box .box-column .column-text textarea {
  border: none;
  outline: none;
  background: rgba(106, 118, 123, 0.24);
}

.footer {
  background-image: url("../images/img_content/footer_illust_bg2.png");
  text-align: center;
}
.footer__content {
  position: relative;
  background-image: url("../images/img_content/footer_u_nami.png");
  background-position: bottom;
  background-repeat: repeat-x;
  text-align: center;
}
.footer__content .center {
  position: relative;
  display: inline-block;
  text-align: center;
  top: -60px;
  line-height: 30px;
}
.footer__content .center .button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer .footer__infor {
  background: #0066d3;
}
.footer .info {
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  font-weight: 600;
  padding: 10px;
}

@media (max-width: 768px) {
  .main__box .column .box {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .main__box .column .box__col {
    padding: 20px;
  }
  .main__box .column .box__border {
    border-right: none;
    border-bottom: 1px solid grey;
  }

  .main__form .form__box {
    width: 100%;
  }

  .nav__menu {
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: -100%;
    top: 0;
    width: 30%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    border: 0;
  }
  .nav li::before {
    display: none !important;
  }

  .menu-toogle {
    display: block !important;
  }
}
@media (max-width: 414px) {
  .menu-toogle .nav-toogle {
    justify-content: space-around !important;
  }
  .menu-toogle .nav-toogle li::before {
    display: none !important;
  }

  .hide {
    display: none !important;
  }

  .active {
    position: relative;
    right: 0;
  }
  .main__form .form__box .box-column {
		grid-template-columns: revert;
		.column {
			padding: 10px;
		}
	}
}

/*# sourceMappingURL=style.css.map */
