@import "valiable.scss";

#header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	background-color: $color-blue;
	border-bottom: 2px dotted grey;
	.header-menu {
		width: 100%;
		.menu {
			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				li {		
					a{
						color: #fff;
						font-size: 23px;
					}
					.scroll:after {
						display: block;
						content: "";
						margin-bottom: 8px;
						width: 50%;
						height: 2px;
						transition: width 0.3s;
					}
					.scroll:hover::after {
						width: 100%;
						background-color: black;
					}
					a:hover {
						color:black;
						transition: 1s;
					}
				}
				.logo {
					width: 149px;
					height: 147px;
					transition: .3s;
				}
				.logo:hover {
					transform: translateY(20px);
				}
			}
		}
	}
}

#myline {
	width: 0%;
	height: 3px;
	background-color: #fff;
}