@import "valiable.scss";

#main{
	.main-retro {
		padding-top: 145px;
		width: 100%;
		background-color: $color-blue;
		border-bottom: 2px dotted grey;
		.retro-banner {
			display: grid;
			justify-content: center;
			margin-bottom: 47px;
			.banner_text {
				padding-top: 10px;
				height: 60px;
			}
		}
		.retro-slide {
			position: relative;
			border-top: 8px solid #fff;
			border-left: 8px solid #fff;
			border-right: 8px solid #fff;
			.two, .three {
				display: none;
			}
			.mySlides {
				width: 100%;
				height: 460px;
				.img_animate {
					width: 100%;
					height: 100%;
				}			
				.numbertext {
					color: #f2f2f2;
					font-size: 12px;
					padding: 8px 8px;
					position: absolute;
					top: 0;
					z-index: 3;
				}
				.text {
					background-color: #fff;
					color: $color-black;
					font-size: 15px;
					font-weight: bold;
					padding: 10px;
					position: absolute;
					width: 100%;
					text-align: center;
					bottom: 0;
				}
					
			}
			.prev, .next {
					cursor: pointer;
					position: absolute;
					width: auto;
					padding: 16px;
					color: white;
					font-weight: bold;
					font-size: 22px;
					transition: 0.6s ease;
					user-select: none;
					top: 40%;
			}
			.next {
				right: 0;
			}
			.prev:hover, .next:hover {
				background-color: rgba(0,0,0,0.8);
			}
			
		}	
		.retro-dot {
			background-color: #20B2AA;
			width: 90px;
			padding: 5px;
			text-align: center;
			margin: 0 auto;
			.dot {
				cursor: pointer;
				height: 15px;
				width: 15px;
				margin: 0 2px;
				background-color: #FFA500;
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.6s ease;
			}
			.active, .dot:hover {
				background-color: red;
			}
		}
		.retro-text {
			margin-top: 30px;
			width: 100%;
			text-align: center;
			font-size: 1.2rem;
			color: #fff;
			padding-bottom: 40px;
		}
	
		
		.img_animate {
			/* tạo hiệu ứng chuyển động fade */
			animation-name: img_animate;
			animation-duration: 1.5s;
		}

		@keyframes img_animate {
			from {opacity: .6}
			to {opacity: 1}
		}
	}

	.main-about {
		background-color: $color-grey;
		padding-bottom: 30px;
		border-bottom: 2px dotted grey;
		.text-center {
			color: $color-black;
			width: 100%;
			text-align: center;
			h2 {
				padding-top: 25px;
				font-size: 90px;
				text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
			}
			.about_line {
				display: flex;
				justify-content: center;
				align-items: center;
				.line {
					width: 70px;
					height: 2px;
					background-color: $color-black;
				}
				.text {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			h3 {
				font-size: 1rem;
				padding-top: 10px;
			}
		}
		.about-grid {
			margin-top: 45px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap:20px;
			.grid-column {
				text-align: center;
				line-height: 20px;
				color: $color-black;
				.grid-img {
					width: 150px;
					height: 150px;
					transition: .3s;
				}
				.grid-img:hover {
					transform: translateY(-10px);
				}
				h2 {
					margin: 10px;
				}
				.line {
					display: inline-block;
					width: 80px;
					height: 5px;
					background-color: $color-black;
					margin: 10px;
				}
				.text {
					text-align: start;
				}
			}
		}
	}

	.main-portfolio {
		padding-bottom: 30px;
		background-color: $color-orange;
		border-bottom: 2px dotted grey;
		.text-center {
			color: $color-black;
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
			h2 {
				padding-top: 25px;
				font-size: 90px;
				text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
			}
			.about_line {
				display: flex;
				justify-content: center;
				align-items: center;
				.line {
					width: 70px;
					height: 2px;
					background-color: $color-black;
				}
				.text {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			h3 {
				font-size: 1rem;
				padding-top: 10px;
			}
		}
		.nav-menu{
			display: flex;
			.title{
				display: inline-block;
				width: 90px;
				font-size: 18px;
			}
			.menu-tab {

				li {
					cursor: pointer;
    				margin-left: 22px;
    				margin-bottom: 5px;
					display: inline-block;
					background-color: #FCFAF7;
					box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
					a {
						color: $color-black;
						display: inline-block;
						padding: 2px 8px 0px 0px;
						font-weight: 700;
						font-size: 12px;
					}
					
				}
				li:before {
					content: "";
					float: left;
					position: relative;
					top: 0;
					left: -10px;
					width: 0;
					height: 0;
					border-top: 12px solid transparent;
					border-right: 10px solid #FCFAF7;
					border-bottom: 10px solid transparent;
				}
				li.active {
					background-color: aqua;
				}
				li.active:before {
					border-right: 10px solid aqua;
				}
				a:before {
					content: "";
					float: left;
					left: -10px;
					top: 5px;
					width: 5px;
					height: 5px;
					background-color: #959CA3;
					position: relative;
					border-radius: 4px;
				}
			}
		}

		.portfolio-grid {
			position: relative;
			margin-top: 20px;
			width: 100%;
			height: auto;
			padding-bottom: 30px;
			.tab-grid {
				display: none;
			}
			.active {
				display: block;
			}
			.grid-main {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap:20px;
				.grid-column {
					text-align: center;
					background-color: #fff;
					border-radius: 5px;
					border: 5px solid #fff;
					.img {
						width: 100%;
						height: 190px;
						overflow: hidden;
					}
					.image {
						width: 100%;
						height: 100%;
						transition: all 1s ease;	
					}
					.image:hover {
						transform: scale(1.2);
					}
					.icon {
						width: 50px;
						height: 50px;
						border-radius: 50%;
						background-color: #fff;
						top: -26px;
						position: relative;
						margin: auto;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: .3s;
						i {
							font-size: 22px;
							color: #959CA3;
						}
					}
					a:hover .icon {
						transform: translateY(-10px);
					}
					.text {
						padding-bottom: 15px;
						color:$color-black;
						font-weight: bold;
						margin-top: -25px;
					}
				}
			}
			.grid-main {
				/* tạo hiệu ứng chuyển động fade */
				animation-name: grid-main;
				animation-duration: 1s;
			}

			@keyframes grid-main {
				from {opacity: .6}
				to {opacity: 1}
			}

		}		
	}

	.main-blog {
		background-color: $color-grey;
		padding-bottom: 30px;
		border-bottom: 2px dotted grey;
		.text-center {
			width: 100%;
			text-align: center;
			color: $color-black;
			h2 {
				padding-top: 25px;
				font-size: 90px;
				text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
			}
			.blog_line {
				display: flex;
				justify-content: center;
				align-items: center;
				.line {
					width: 70px;
					height: 2px;
					background-color: $color-black;
				}
				.text {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			h3 {
				font-size: 1rem;
				padding-top: 10px;
			}
		}
		.blog-center {	
			.blog-row {
				margin-top: 25px;
				display: flex;
				flex-wrap: wrap;
				.blog-image {
					width: 30%;
					overflow: hidden;
					border: 4px solid $color-white;
					.bl_image {
						width: 100%;
						height: 100%;
						border-radius: 5px;
						box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
						transition: all 1s ease;

					}
					.bl_image:hover {
						transform: scale(1.2);
					}
				}
				.blog-content {
					width: 70%;
					position: relative;
					.content-right{
						padding-left: 20px;
						line-height: 20px;
						color: $color-black;
						h2{
							font-size: 24px;
							font-weight: 700;
							margin-bottom: 10px;
						}
						time, span {
							font-weight: 700;
							font-size: 10px;
						}
						.link {
							display: inline-block;
							position: absolute;
							right: 0;
							font-weight: 700;
							font-size: 10px;
							color: $color-black;
						}
						.line {
							margin-top: 10px;
							margin-bottom: 10px;
							width: 50px;
							height: 2px;
							background-color: $color-black;
						}
						.post-content {
							a {
								font-size: 14px;
								font-weight: 700;
								color: $color-black;
							}
						}
					}
				}
				.blog-link a:before {
					margin-left: 20px !important;
				}
			}
		}
		.blog-link {
			a:before {
				margin-top: 20px;
				margin-left: 65px;
			}
		}
		
	}
	.browse-link {
		display: flex;
		justify-content: center;	
		a {
			font-weight: 700;
			font-size: 14px;
			color: $color-black;
		}
		a:before {
			display: block;
			content: "";
			margin-bottom: 8px;
			margin-left: 46px;
			transform:translateX(-50%);
			width: 50%;
			height: 2px;
			background-color: $color-black;
			transition: width 0.3s;
		}
		a:hover::before {
			width: 100%;
		}

	}

}
