@import "variable.scss";



.img-line {
	position: absolute;
	z-index: 3;
	padding: 10px;
	width: 100%;
	height: 100%;
}
#main {
	margin-top: 32px;
	.mainslide {
		.mainslide-img{
			position: relative;
			min-height: 506px;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
			.img-main {
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				cursor: pointer;
			}
			.btn-next{
				position: absolute;
				z-index: 2;
				color: #00dee4;
				font-size: 30px;
				right: 0;
				top: 50%;
				padding-right: 5px;
				cursor: pointer;
			}
			.btn-prev {
				position: absolute;
				z-index: 2;
				color: #00dee4;
				font-size: 30px;
				top: 50%;
				padding-left: 5px;
				cursor: pointer;
			}
			
		}
		.list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap:4px;
			margin-top: 4px;
			min-height: 123px;
			.list-image {
				position: relative;
				box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
				overflow: hidden;
				.img-show {
					position: absolute;
					z-index: 1;
					width: 100%;
					height: 100%;
					cursor: pointer;
					transition: all 1s ease;
				}
				.img-show:hover {
					opacity: 0.7;
					transform: scale(1.2);
				}
			}
		}
	}
	.main-infor{
		width: 100%;
		background-color: #928c80;
		display: flex;
		margin-top: 30px;
		margin-bottom: 32px;
		padding: 20px;
		h3 {
			color: $color-yellow;
			margin-right: 16px;
		}
		h4 {
			
		}
	}

	.product {
		.product-itemPC, .product-itemSP  {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px;
			.item {
				background-color: #fff;
				min-height: 517px;
				box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
				.item-title {
					width: 100%;
					height: 21%;
					background-color: $color-blue;
					h2 {
						display: inline-block;
						padding: 23px 30px 23px 20px;
						 
					}
				}
				.item-image{
					position: relative;
					width: 100%;
					height: 47%;
					.img1 {
						position: absolute;
						z-index: 1;
						width: 100%;
						height: 100%;
					}
					.triangle_down {
						position: absolute;
						z-index: 2;
						margin-left: 50%;
						width: 0;
						height: 0;
						border-top: 10px solid #4cbeee;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
					}
				}
				
				.item-infor {
						width: 100%;
						height: 18%;
						h5 {
							display: inline-block;
							padding: 20px;
							color: black;
							font-size: 13px;
						}
				}
				.item-icon {
					width: 100%;
					height: 14%;
					.item-iconline {
						display: inline-block;
						padding-left: 20px;
						margin-bottom: 10px;
						a {
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
}



